<img src="/img/1165350.png" class="face-photo" />
<p class="greeting"> Hello ! Ciao ! </p> 

<br>

<p> I'm <bold> Damiano Braga</bold>, a Sr. Software Engineer. </p>
<br>
<p> I'm from Italy &nbsp;
	<svg xmlns="http://www.w3.org/2000/svg" class="italy-flag" viewBox="0 0 3 2">
		<rect width="1" height="2" fill="#009246"/>
		<rect width="1" height="2" x="1" fill="#fff"/>
		<rect width="1" height="2" x="2" fill="#ce2b37"/>
	</svg> ,
	&nbsp;&nbsp;but i'm based in San Francisco &nbsp;
	<img class="usa-flag" src="/img/usa-flag.png"/>
	&nbsp;&nbsp;
</p>
<p> I currently do <i>search</i> and play with <i>data</i> at &nbsp;<a href="http://www.trulia.com"><img src="/img/trulia-png.png" id="trulia-logo"/></a> </p>
