---
layout: projects
---


<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    <div id="outercontainer">

    <div class="card">
      <span class="project-title"> Thoth ML </span>
      <img class="project-img" src="/img/thoth.png"/>
      <p> 
Thoth Machine Learning applies machine learning algorithms to the data collected by Thoth to gain useful insights. Currently, this module consists of the query time predictor and the query pattern recognition tool.
      </p>
    </div>

    <div class="card">
      <span class="project-title"> Thoth Dashboard </span>
      <img class="project-img" src="/img/thoth.png"/>
      <p> 
Thoth Dashboard is the module that is responsible of visualizing data contained in Thoth
      </p>
    </div>

    <div class="card">
      <span class="project-title"> Thoth API </span>
      <img class="project-img" src="/img/thoth.png"/>
      <p> 
        Thoth API is the module that is providing an abstraction of the data contined on the Thoth Index
      </p>
    </div>

    <div class="card">
      <span class="project-title"> Thoth </span>
      <img class="project-img" src="/img/thoth.png"/>
      <p> 
        Thoth is a real-time solr monitor and search analysis engine. It's a set of tools that can help you collect, visualize and leverage data coming from your Solr search Infrastructure.
      </p>
    </div>


</div>


<!-- <a href="/projects/test1.html">test1</a> -->

    {% include footer.html %}



  </body>

</html>
