---
layout: projects
---


<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    <div id="outercontainer">

    <div class="card">
      <span class="project-title"> <a href="thoth.html"> Thoth </a> </span>
      <img class="project-img" src="/img/thoth.png"/>
      <p> 
Thoth is a real-time Apache Solr monitor and search analys engine. It's a set of tools that can help you collect, visualize and leverage data coming from your search infrastructure

<br><br><a href="thoth.html"> Read more </a>
      </p>
      <ul class="tags">
        <li>Java</li>
        <li>Node.js</li>
        <li>Solr</li>
          <li>ActiveMQ</li>
        <li>HTML</li>
        <li>SASS</li>
        <li>Javascript</li>
        <li>(NV)D3.js</li>
      </ul>
    </div>


    <div class="card">
      <span class="project-title"> <a href="solr2activemq.html"> Solr2ActiveMQ </a> </span>
      <img class="project-img" src="/img/software.png"/>
      <p> 
A Solr Handler that sends queries to an ActiveMQ queue or topic 
<br><br><a href="solr2activemq.html"> Read more </a>
      </p>
            <ul class="tags">
        <li>Java</li>
        <li>Solr</li>
          <li>ActiveMQ</li>
      </ul>
    </div>

        <div class="card">
      <span class="project-title"> <a href="rubyprovisioningapi.html"> Ruby Provision API </a> </span>
      <img class="project-img" src="/img/api.png"/>
      <p> 
A Ruby wrapper for Google Apps Provisioning API
<br><br><a href="rubyprovisioningapi.html"> Read more </a>
      </p>
    </div>


solrgression
git wizzy
hammock
Segugio
Governor
Percolator





</div>


<!-- <a href="/projects/test1.html">test1</a> -->

    {% include footer.html %}



  </body>

</html>
